# 주요 디렉토리는 팀장 정민(jammmin02)이 관리
/src/       @jammmin02
/models/    @jammmin02
/docker/    @jammmin02
/outputs/   @jammmin02
/test/      @jammmin02
/.github/   @jammmin02

# 자유롭게 작업 가능한 디렉토리
/dev/
/data/
/scripts/